<section>
    <div class="container pt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card" id="chat1" style="border-radius: 15px;">
                    <div class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
                        style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
                        <i class="fas fa-angle-left"></i>
                        <p class="mb-0 fw-bold">Live chat</p>
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="card-body" #chatBody>
                        <ng-container *ngFor="let message of messages">
                            <div class="d-flex justify-content-between" [ngClass]="{'flex-row-reverse': message.userName === currentUser.userName}">
                                <p class="small mb-1">{{ message.userName }}</p>
                                <p class="small mb-1 text-muted">{{ message.date }}</p>
                              </div>
                            <div class="d-flex align-items-center mb-4" [ngClass]="{'justify-content-start': message.userName !== currentUser.userName, 'justify-content-end': message.userName === currentUser.userName}">
                                <span class="material-symbols-outlined" style="font-size: 35px;">
                                    {{ message.userName === currentUser.userName ? 'sentiment_satisfied' : 'mood' }}
                                </span>
                                <div class="p-3 ms-3" style="border-radius: 15px;" [ngStyle]="{'background-color': message.userName === currentUser.userName ? 'rgba(57, 192, 237,.2)' : '#ffc1074f'}">
                                    <p class="small mb-0">{{ message.message }}</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div class="card-footer">
                        <form [formGroup]="form" (ngSubmit)="sendMessage()">
                            <app-textarea-input controlName="message" controlNamePrefix="chat" placeholder="Message"
                                [form]="form">
                            </app-textarea-input>
                            <button type="submit" class="btn btn-info btn-rounded float-end mt-2">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>