<section class="text-center text-lg-start bg-light text-muted h-100 d-flex flex-column align-items-center justify-content-around p-2">
    <div class="d-flex align-items-center">
        <span class="material-symbols-outlined">
            list_alt_add
        </span>
        <p class="m-0">Products list</p>
    </div>
    <div class="d-flex align-items-center">
        <span class="material-symbols-outlined">
            draw
        </span>
        <p class="m-0">Designed and created by Natalia Monets</p>
    </div>
</section>