<app-loading-screen *ngIf="loading()"></app-loading-screen>
<div *ngIf="!loading()" class="container mt-5 d-flex flex-column justify-content-center">
    <h1 class="m-auto">Existing products</h1>
    <app-products-list
        [products]="products"
        (onProductDelete)="deleteProduct($event)">
    </app-products-list>
    <div *ngIf="error" class="alert alert-danger col-lg-3 col-md-6 col-sm-8 m-auto mb-2" role="alert">
        {{ error }}
    </div>
    <div class="col-lg-3 col-md-6 col-sm-8 m-auto mb-4">
        <button type="button" class="btn btn-primary col-12" (click)="openProductModal()" [disabled]="products.length > 11">Add product</button>
    </div>
</div>

<app-product-modal #addProductModalComponent [error]="error" (onAddProduct)="addProduct($event)">
</app-product-modal>

<app-info-modal #productInfoModal [modalText]="modalInfoText">
</app-info-modal>

<app-messages-notification [showMessage]="showMessage" [messageData]="currentMessage"></app-messages-notification>